.Badge {
  background-color: #6c757d;
  border-radius: .25rem;
  color: #fff;
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: .25em .4em;
  text-align: center;
  transition: .15s;
  vertical-align: baseline;
  white-space: nowrap;
}
