$card-padding: 12px;

.Card {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: $card-padding;
  //width: 240px;
}

.Card__divider {
  height: 1px;
  background-color: gray;
  margin: $card-padding/2 0;
}


.Card.Card__selected {
  border-color: green;
}
.Card.Card__selected .Card__divider {
  background-color: lightgreen;
}
