@import '../global';

.App__container {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 50rem;
}

.App__container-background {
  background-color: rgba(0, 0, 0, .05);
  min-height: calc(100vh - #{$header-height});
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
