@import '../global';

.App__container {
  margin: 0 auto;
  padding: 0 24px;
  width: 800px;
}

.App__container-background {
  background-color: rgba(0, 0, 0, .05);
  min-height: calc(100vh - #{$header-height});
  padding-top: 24px;
  padding-bottom: 24px;
}


.App__read_only_checkbox_wrapper {
  display: flex;
  user-select: none;
}

.App__read_only_checkbox {
  margin-right: .25rem;
  vertical-align: -1px;
}


.App__cards {
  display: flex;
  flex-wrap: wrap;
}

.App__card {
  flex-basis: calc(33.3333% - 1rem);
  margin: .5rem;
}
